<form class="pt-4" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div formArrayName="customerDetails" class="customer">
    <div
      class="card payment-card"
      *ngFor="let customer of customerDetails.controls; let i = index"
      [class.disabled-customer-bill]="customer.get('isPaid')?.value"
      [formGroupName]="i"
    >
      <div class="card-header payment-card__header">
        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="col-6 d-flex align-items-center justify-content-end">
            <span
              *ngIf="customer.get('isPaid')?.value"
              class="payment-card__status payment-card__status--paid"
              >PAID</span
            >
            <span
              *ngIf="!customer.get('isPaid')?.value"
              class="payment-card__status payment-card__status--unpaid"
              >UNPAID</span
            >
          </div>
        </div>
      </div>
      <div
        formArrayName="items"
        class="card-body payment-card__body d-flex flex-column gap-3"
        [class.scroll-max-height]="items(i).controls.length > 2"
      >
        <div
          class="row"
          *ngFor="let item of items(i).controls; let j = index"
          [formGroupName]="j"
        >
          <div class="col-5">
            <label for="items" class="form-label">Items</label>
            <input
              type="text"
              class="form-control"
              formControlName="itemName"
            />
          </div>
          <div class="col-5">
            <label for="items" class="form-label">No. of items</label>
            <select class="form-select" formControlName="itemCount">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
            </select>
          </div>
          <div class="col-2 d-flex align-items-end">
            <button
              type="button"
              class="delete-btn"
              (click)="onDeleteItem(i, j)"
            >
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row p-2">
        <div class="col">
          <button
            class="mt-4 border-2 rounded-2"
            style="padding: 2px 10px; background-color: transparent"
            (click)="addItem(i)"
          >
            + Item
          </button>
        </div>
      </div>

      <div class="row p-2">
        <div class="col">
          <button
            *ngIf="!customer.get('isPaid')?.value"
            class="payment-card__button payment-card--paid"
            (click)="paidByCustomer('paid', i)"
          >
            Paid
          </button>
        </div>
      </div>
    </div>
  </div>
  <button
    class="mt-4 border-2 rounded-2"
    style="padding: 2px 10px; background-color: transparent"
    (click)="addCustomer()"
  >
    +
  </button>
</form>
