@media only screen and (min-width:1400px) {

    .app {
        width: auto;
        max-width: 1400px;
        margin: 0 auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}


@media only screen and (max-width:1400px) {

    .app {
        width: 100%;
        margin: 0 auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
