.list_details {
    display: flex;
    flex-direction: column;
    align-items: center;

    .list {
        .list-body {
            form {
                .body {
                    .card {
                        background-color: #FFFF88;

                        .card-header {
                            background-color: #ffef84;
                        }

                        .card-body {
                            .row {
                                .col {
                                    button {
                                        padding: 2px 9px;

                                    }
                                }
                            }

                            .items_list {
                                .items_container {
                                    span {
                                        text-decoration: underline;
                                    }

                                    .row {
                                        .col {
                                            button {}

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .add_customer {
        button {
            padding: 8px 20px;

        }
    }
}

.list_details_page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    border: 1px solid;
    padding-bottom: 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 32%;
    row-gap: 10px;
    padding-top: 1rem;
    align-items: center;
}

.image {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.hr {
    border: 1px solid;
}

a {
    cursor: pointer;
}

.list_details {
    border-bottom: 1px solid;
    padding-bottom: 1rem;
}

.view_imager {
    grid-row: 1;
    width: 66vw;
    margin-left: 56.4rem;
    margin-top: 6px;
    height: auto;
    position: relative;

}

.close {
    position: absolute;
    right: 12px;
    z-index: 999999999;
    color: black;
    cursor: pointer;
}


@media only screen and (max-width:600px) {
    .view_imager {
        position: relative;
        top: 1rem !important;
        width: 100% !important;
        height: auto !important;
        grid-row: none !important;
        margin-left: unset !important;
    }
}